.main-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 150px;
}

.product-details {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.product-details-container {
    display: flex;
    flex-direction: column;
}

.product-gallery {
    flex: 1;
}

.product-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.gallery-thumbnails img {
    width: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.gallery-thumbnails img:hover {
    border-color: var(--primaria-claro);
}

.product-info {
    flex: 1;
}

.product-path {
    font-size: 0.9rem;
    color: var(--texto-claro);
    margin-bottom: 10px;
}

.product-info h2 {
    font-size: 2.5rem;
    color: var(--primaria-claro);
    margin-bottom: 10px;
}

.product-code {
    display: none;
}

.price {
    font-size: 1.5rem;
    color: var(--primaria-claro);
}

.rating {
    color: aqua;
    font-size: 1.2rem;
}

.product-description {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--texto-claro);
    line-height: 1.6;
    clear: both;
}

.product-options {
    margin: 20px 0;

}

#color, #quantity {
    width: 100%;
}

.product-options label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.product-options select, .product-options input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--primaria-claro);
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.back-to-products,
.add-to-cart {
    padding: 15px 30px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.add-to-cart:hover {
    background-color: #388e3c
}

.back-to-products {
    border: 2px solid #ffa500;
}

.back-to-products:hover {
    background-color: #494848;
    color: #fff;
}

.delivery {
    margin-top: 20px;
    font-size: 0.9rem;
    color: var(--texto-claro);
}

.product-specs {
  margin-top: 40px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.tabs {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.tabs li {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  color: #777;
}

.tabs li:hover {
  color: #ffa500;
}

.specs-content p {
  font-size: 1rem;
  color: #b0b0b0;
  margin: 10px 0;
}

