<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <main class="container">
        <!-- O action do formulário aponta para a rota de login do administrador -->
        <form action="{{ url_for('admin_page.admin_login') }}" method="post">
            <h1>Login de Administrador</h1>
            
            <!-- Mensagens de erro/sucesso do Flask -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

            <div class="input-box">
                <input placeholder="email" type="email" name="email" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input placeholder="senha" type="password" name="senha" required>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox">Lembre-me</label>
                </label>
                <a href="#">Esqueceu a senha?</a>  
            </div>

            <button type="submit" class="btn">Login</button>
        </form>
    </main>
</body>
</html>
