
.produtos-destaque-container {
    position: relative;
    max-width: 1200px; 
    margin: 0px auto;
    padding: 5px 50px; 
}

.grade-produtos {
    display: flex; 
    gap: 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 1rem; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.grade-produtos::-webkit-scrollbar {
    display: none; 
}

.cartao-produto {
    flex: 0 0 300px; 
    background-color: var(--card-claro);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--sombra-claro);
    transition: transform 0.3s, box-shadow 0.3s;
}



.imagem-produto {
    width: 93%;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}

.info-produto {
    padding: 1.5rem;
}

.nome-produto {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.descricao-produto {
    color: var(--secundaria-claro);
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 2.5em;
}

.preco-produto {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--primaria-claro);
}

.botao-add-carrinho {
    width: 100%;
    padding: 0.75rem;
    background: var(--cor-link);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botao-add-carrinho:hover {
    background-color: var(--cor-link-hover);
    transform: scale(1.01);
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--borda-claro);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primaria-claro);
    cursor: pointer;
    z-index: 10;
    display: none; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

.slider-btn:hover {
    background-color: #fff;
    transform: translateY(-50%) scale(1.1);
}

.tema-escuro .slider-btn {
    background-color: rgba(44, 46, 48, 0.8);
    color: var(--texto-claro);
    border-color: var(--borda-claro);
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.next {
    right: 10px;
}
