.secao-destaque {
    color: #ffffff;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    background-color: #1a1a1a; 

}

#hero-animation-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.destaque-content {
    position: relative;
    z-index: 2; 
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 12px;
}

.titulo-destaque {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1rem;
    font-weight: 800;
    color: #ffffff;
}

.subtitulo-destaque {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 600px;
    margin-bottom: 2rem;
    color: #e0e0e0;
}

.botao-destaque {
    background-color: #ffffff;
    color: #1a1a1a;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: 600;
    transition: transform 0.3s, background-color 0.3s;
}

.botao-destaque:hover {
    transform: translateY(-5px);
    background-color: #e0e0e0;
}
