/* Estilos para o Modal de Login */
:root {
    --fundo-claro: #f0f2f5;
    --texto-claro: #1a1a1a;
    --card-claro: #ffffff;
    --borda-claro: #e0e0e0;
    --primaria-claro: #2c3e50;
    --secundaria-claro: #34495e;
    --sombra-claro: rgba(0, 0, 0, 0.1);
    --cor-link: #3498db;
    --cor-link-hover: #2980b9;
}

/* Estilos Básicos */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--fundo-claro);
    color: var(--texto-claro);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 100%;
    max-width: 700px; /* Aumentando a largura máxima */
}

/* Modal */
.modal {
    background-color: var(--card-claro);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--sombra-claro);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.conteudo-modal-login {
    padding: 30px; /* Aumentando o padding */
}

/* Header */
.header-modal h2 {
    font-size: 40px; /* Aumentando o tamanho do título */
    text-align: center;
    font-weight: bold; /* Destacando o título */
}

.return-to-index {
    margin: 20px 0; /* Aumentando o espaçamento */
    text-decoration: none;
    color: var(--primaria-claro);
    cursor: pointer;
    transition: 0.3s;
}

.return-to-index:hover {
    color: var(--secundaria-claro);
}

/* Formulário */
.form-login {
    display: flex;
    flex-direction: column;
}

.input-grupo {
    margin-bottom: 20px; /* Aumentando o espaçamento */
    position: relative; /* Para posicionar o ícone */
}

.input-grupo label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px; /* Aumentando o tamanho dos títulos */
}

.input-grupo input {
    padding: 12px; /* Aumentando o padding dos inputs */
    border: 1px solid var(--borda-claro);
    border-radius: 4px;
    font-size: 16px;
    width: 96%; /* Inputs cobrindo toda a largura */
}

.input-grupo input:focus {
    border-color: var(--primaria-claro);
    outline: none;
}

.input-grupo i {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    color: var(--primaria-claro);
    font-size: 30px; /* Aumentando o tamanho do ícone */
    pointer-events: none; /* Para que o ícone não interfira na interação com o input */
}

/* Botões */
.btn-login-modal {
    background-color: var(--primaria-claro);
    color: #fff;
    padding: 12px; /* Aumentando o padding */
    border: none;
    border-radius: 4px;
    font-size: 18px; /* Aumentando o tamanho do botão */
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold; /* Destacando o texto do botão */
    margin-bottom: 10px; /* Espaçamento entre botões */
}

.btn-login-modal:hover {
    background-color: var(--secundaria-claro);
}

.link-recuperar-senha {
    text-align: center;
    margin: 10px 0;
}

.link-recuperar-senha a {
    color: var(--cor-link);
    text-decoration: none;
}

.link-recuperar-senha a:hover {
    color: var(--cor-link-hover);
}

/* Footer */
.footer-modal {
    text-align: center;
}

.footer-modal a {
    color: var(--cor-link);
}

/* Botão Google */
.btn-login-google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db4437;
    color: #fff;
    padding: 12px; /* Aumentando o padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-weight: bold; /* Destacando o texto do botão */
    font-size: 18px; /* Aumentando o tamanho do botão */
}

.btn-login-google img {
    margin-right: 5px;
}

.btn-login-google:hover {
    background-color: #c13524;
}

/* Responsividade */
@media (max-width: 480px) {
    .modal {
        width: 90%;
    }
}